<link rel="stylesheet" href="/css/nav.css">
<div class="topnav" id="myTopnav">
    <a href="/"class=<a href="/">Home</a>
    <a href="/users/">Search</a>
    <a href="users/show.ejs">Profile</a>
    <a href="/auth/login">login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

