<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Tru Fan home Page</title>
</head>

<body>

  <%- include('./partials/navbar.ejs') %>




  <div class="header">

    <h1 class="trufan">Tru Fan</h1><br>
    <h4>Sports Social Media</h4>
    <img id="stadium1" src="/img/stadium.jpeg" alt="">
  </div>

  <br>

  <div class="footer1">
    <span>Share your opinions with your rivals!</span><br>
    <span>Steven A. isn't the only one with opinions.!</span><br>
    <span>Post links to your other sports accounts!</span><br>
    <span>Create a profile, join fellow fans and debate with your rivals!</span><br>
    <span>Link your Fanduel ad DraftKings accounts.Who you running this week?</span><br>
    </p2>
  </div>
  <div class="h2head">
    <h2>Authentic Fans.<br>How long you been a fan?</h2>

  </div>
  <div class="footer2">
    <p1>Represent your team!<br>
      Represent your city!<br>
      Post your game video & photos!<br>
      Post your favorite superstars!<br>
      Share your favorite Shoes & Apparel!<br>
    </p1>
  </div>
  <br>


  </div>
  </div>
  <button class="btn2"><a href="/auth/login">login</a></button>
  <button class="btn1"><a href="auth/login">Create Profile</a></button><br><br>


  <div class="row">

    <img src="img/mjlegend.jpg">
    <img src="img/brady.jpg">
    <img src="img/Lebron.jpg">
    <img src="img/jordanlogo.jpg">
    <img src="img/flights.jpg">
    <img src="img/kawaii.jpg">
    <img src="img/kobeflight.jpg">
    <img src="img/mahomes.jpg">


  </div>
  </div>




</body>

</html>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>